<meta name="keywords" content="saunterquest, saunter, hike, backpack, hiking, backpacking, trails, outdoors, trek">
<meta name="description" content="Welcome to SaunterQuest. A place where I share my adventures on the trail.">
