<meta name="keywords" content="saunterquest, saunter, hike, backpack, hiking, backpacking, trails, outdoors, trek">
<meta name="description" content="Welcome to SaunterQuest. A place where I share my adventures on the trail.">
<meta property="og:description" content="Welcome to SaunterQuest. A place where I share my adventures on the trail.">
<meta property="og:image" content="https://saunterquest.com/images/Forester.jpg">
<meta property="og:image:alt" content="Skypilots near Forester Pass">
<meta property="og:url" content="https//saunterquest.com">
<meta property="og:type" content="website">
<meta property="og:title" content="SaunterQuest">
