.add-button {
  display: block;
}

.title {
  resize: none;
  width: 100%;
}

.leg-selection {
  display: block;
}

.layout {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  height: 100%;
}

.editor {
  max-width: 45rem;
  padding: 1rem;
  overflow-y: auto;
}

.controls {
  padding-left: 1rem;
  border-bottom: black solid thin;
}

.control-row {
  display: flex;
}

.control-row>* {
  margin-right: 1rem;
}

.left-labeled-control {
  margin-left: 0.5rem;
}

.right-labeled-control {
  margin-right: 0.5rem;
}
