.blog-wrapper {
  display: grid;
  overflow-y: auto;
  width: 100%;
}

.blog {
  display: grid;
  grid-auto-rows: max-content;
  color: black;
  background-color: white;
  height: 100%;
  width: 55rem;
  max-width: 100vw;
  overflow-x: clip;
  justify-self: center;
}

.html {
  width: max-content;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  max-width: 100vw;
}

.map-placeholder {
  height: 25rem;
  width: 100%;
  position: relative;
}
