.section {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.text {
	font-family: proxima-nova,Helvetica Neue,Arial,sans-serif;
	font-size: 21px;
	line-height: 1.5em;
	color: rgba(0,0,0,0.75);
	font-weight: 400;
	letter-spacing: -.010em;
}

.title {
	font-family: proxima-nova,Helvetica Neue,Arial,sans-serif;
	font-size: 1.45rem;
	line-height: 1.25em;
	color: #2e2e2e;
	font-weight: bold;
	text-transform: none;
	margin-top: 1.25rem;
	margin-bottom: 1rem;
}
