/trails/
/data/
/node_modules
/public/hot
/public/storage
/storage/*.key
/blog/
build
coverage
.vscode
.DS_STORE
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.hgt
/old_php/vendor/
tmp
