/trails/
/data/
node_modules
/public/images
/blog/
build/
client-build/
coverage
.vscode
.DS_STORE
.env
.env.backup
npm-debug.log
yarn-error.log
*.hgt
/old_php/vendor/
tmp
/build.zip
/saunter-quest-build.zip
/hikes/
/resources/views/*-css.edge