html, body {
    height: 100%;
    width: 100%;
}

#app {
    width:100vw;
    height:100vh;
    overflow: hidden
}

.app {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: max-content minmax(0,1fr);
}

.background-picture {
    background-color: black;
    background-image: url(/Forester.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.app .navbar {
	background-color:#228B22;
}

.app .navbar-nav .nav-link {
    color: white;
}

.hikes
{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: 14px;
    padding-right: 14px;
}

div.hike-card-header
{
    background-color: burlywood;
}

.bpp-shadow
{
    box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}

.resupply-grid
{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.resupply-grid-item
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
