.text {
  display: block;
	min-height: 1rem;
	width: 100%;
	background-color: white;
	border: thin black solid;
  resize: none;
}

.image {
  max-width: 100%;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.photo-wrapper {
  width: max-content;
  max-width: 100%;
}
