.toolbar {
  grid-area: toolbar;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: max-content;
  background-color: #733700;
  border-bottom: thin black solid;
  color: whitesmoke;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.toolbar > :global(.btn) {
  padding: 0.1rem 0.3rem;
}

