.control {
  background-color: #fff;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  background-image: url(padlock-locked.svg);
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.control.expanded {
  background-image: none;
  width: max-content;
  height: max-content;
}

.selector {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.45rem;
  padding-bottom: 0;
}

.selector input {
  margin-right: 0.25rem;
}
